<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台登录</title>
</head>
<style>
    a{
        color:#333;
        font-weight: 900;
        text-decoration: none;
    }
</style>
<body>
    <h3>后台登录</h3>
    <form method="POST" action="{:url('admin/Login/login')}">
        <div>
            <label>
                账号：<input type="text" id='username' name="username" placeholder="这里输入登录名" required value="admin">
            </label>
        </div>
        <br>
        <div>
            <label>
                密码：<input type="password" id="password" name="password" placeholder="这里输入密码" onfocus="$('#captcha')[0].src='{:captcha_src('login')}' + '?_=' + Math.random()" value="123123">
            </label>
        </div>
        <br>
        <img class="pull-right" src="{:captcha_src('login')}" alt="captcha" id="captcha" onclick="this.src='{:captcha_src('login')}' + '?_=' + Math.random()" ><br>
        <input type="text" onfocus="this.value=''" id='verify' class="pull-left" name="code" placeholder="这里输入验证码" >
        <br>
        <div>
            <input type="submit" value="登录"  class="login-btn">
        </div>
    </form>
    <br>
    <a href="http://heimavue.fuzzbear.club/">进入前端</a>
</body>
<script type="text/javascript">

    $(function(){


        $('.login-btn').on('click',function(evt){
            if($('#username').val() == ''){
                $('.msg').html('登录名不能为空');
                return;
            }
            if($('#password').val() == ''){
                $('.msg').html('密码不能为空');
                return;
            }
            if($('#verify').val() == ''){
                $('.msg').html('验证码不能为空');
                return;
            }
            $('form').submit();

        });

    });
</script>
</html>